<div class="new-product">
    <div class="col ">
        <form [formGroup]="form" class="new-product-form-wrapper">
            <label>Title</label>
            <input formControlName="title"  type="text">
            <div class="error-field" *ngIf="form.get('title').touched && form.get('title').invalid">
                <div *ngIf="form.controls.title.errors?.required">Title is required!</div> 
            </div>
            <div class="emptyDivHeight"></div>

            <label>Price</label>
            <div class="price-wrapper">
                <div class="icon">$</div>
                <input formControlName="price">
            </div>
            <div class="error-field" *ngIf="form.get('price').touched && form.get('price').invalid">
                <div *ngIf="form.controls.price.errors?.required">Price is required!</div> 
                <div *ngIf="form.controls.price.errors?.pattern">Add numbers</div> 
            </div>
            
            <div class="emptyDivHeight"></div>

            <label>Category</label>
            <select formControlName="category">
                <option *ngFor="let c of categories" [value]="c.key">
                    {{c.data.name}}
                </option>
            </select>
            <div class="error-field" *ngIf="form.get('category').touched && form.get('category').invalid">
                <div *ngIf="form.controls.category.errors?.required">Choose a category!</div> 
            </div>

            <div class="emptyDivHeight"></div>

            <label>ImageUrl</label>
            <input formControlName="imageUrl"  type="text">
            <div class="error-field" *ngIf="form.get('imageUrl').touched && form.get('imageUrl').invalid">
                <div *ngIf="form.controls.imageUrl.errors?.required">ImageUrl is required!</div>
                <div *ngIf="form.controls.imageUrl.errors?.shouldBeUrl">Should be url!</div>
            </div>
           

            <div class="emptyDivHeight"></div>

            <div class="signUp-form-buttons-wrapper">
                <button (click)="add()" class="button-add">Add</button>

                <div class="emptyDivHeight"></div>
                
                <button (click)="delete()" class="button-delete">Delete</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
