<div class="navbar">
    <div class="navbar-left">
        <div class="navbar-link">
            <a routerLink="/">
                <i class="fa fa-pagelines"></i>
            </a>
        </div>
        <div class="navbar-link">
            <a routerLink="/shopping-cart">
                <i class="fa fa-shopping-cart"></i> 
            </a>
        </div>
        <div class="navbar-counter" >Counter</div>
    </div>
    <div class="navbar-right">
        <div class="navbar-link">
            <a routerLink="/login">Login</a>
        </div>
    </div>
</div>