.fake{
width: 98%;
height: 70px;
position: fixed;
top:-10px;
background-color: beige;
z-index: 300px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 2px solid rgb(68, 87, 68);
    background: rgb(68, 87, 68);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 98.5%;
    position: fixed;
    z-index: 500;
    .navbar-left{
        display: flex;
        width: 80%;
    }
    .navbar-right{
        width: 12%;
        .user-name{
            color: beige;
        }
      
    }
    .navbar-dropdown {
        border: 2px solid rgb(68, 87, 68);
        display: flex;
        flex-direction: column;
        position: relative;
        top: 27px;
        right: 72px;
        width: 220px;
        background-color: white;
        a {
            padding: 10px 0 10px 30px;
            width: inherit;
            height: 40px;
            color: rgb(68, 87, 68);
            &:hover{
                background: rgb(216, 188, 136);
                width: 189.5px;
            }
        }

       
    }
    
    
   
}

.navbar-link{
    padding: 25px 3px 20px 30px;
    font-size: 24px;
    a {
        color: beige;
        &:link{
            text-decoration: none; 
        }       
    }
   
}

.navbar-counter {
    padding: 26px 3px 20px 10px;
    font-size: 24px;
    color: beige;
}