<div class="navbar">
    <div class="navbar-left">
        <div class="navbar-link">
            <a routerLink="/">
                <i class="fa fa-pagelines"></i>
            </a>
        </div>
        <div class="navbar-link">
            <a routerLink="/shopping-cart">
                <i class="fa fa-shopping-cart"></i> 
            </a>
        </div>
        <div class="navbar-counter" >Counter</div>
    </div>
    <div class="navbar-right">
        <div class="navbar-link">
            <ng-template #anonymousUser>
                    <a routerLink="/login">Login</a>
            </ng-template>
            <div *ngIf="appUser; else anonymousUser">
                <div class="user-name"(click)="appServices.toggleCollapsed()">
                    {{appUser.name}}
                </div>
                <ng-container *ngIf="appServices.isOpen">
                    <div class="navbar-dropdown">
                            <a routerLink="/my-orders">My Orders</a>
                            <ng-container *ngIf="appUser.isAdmin">
                                <a  routerLink="/admin/orders">Manage Orders</a>
                                <a  routerLink="/admin/products">Manage Products</a>
                            </ng-container>
                            <a (click)="logout()">Log Out</a>
                    </div>
                 
                </ng-container>
            </div>
            
        </div>
    </div>
</div>