<div class="signUp-form-wrap">
    <div class="signUp-label">Sign Up</div>
    <form [formGroup]="form" >
        <label>Email</label>
        <input formControlName="code">
        <div class="emptyDivHeight"></div>
        <label>Password</label>
        <input formControlName="code">
        <div class="emptyDivHeight"></div>
        <div class="signUp-form-buttons-wrap">
            <button class="button-signup">Sign Up</button>
            <div class="emptyDivHeight"></div>
            <button class="button-signup">Login with Google</button>
        </div>
       
    </form>
</div>