<div class="home">
    <div class="col-1"> 
        <div class="row-1">All categories</div>
        <div class="row-2">
            <div *ngFor="let c of categories" class="row-3">{{c.category}} </div>
        </div>
    </div>
    <div class="col-2"> 
        <div class="row">
            <div *ngFor="let p of products" class="home-product-card">
                <img [src]="p.data.imageUrl">
                <div class="home-product-card-text">{{p.data.title}}</div>
                <div class="home-product-card-text">$ {{p.data.price}}</div>
            </div>
        </div>
    </div>
</div>
    