.home {
    padding-top: 20px;
    margin-right: 120px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    .col-1 {
        width: 30%;
        height: 500px;    
        margin-top: 42px;
        width: 350px;
        border: 1px solid rgb(68, 87, 68);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        .row-1 {
            text-decoration: none;
            font-size: 37px;
            font-weight: 200;
            color: beige;
            text-align: center;
            border-bottom: 1px solid rgb(68, 87, 68);
            padding: 20px;
            background-color: rgb(68, 87, 68);
        }
        .row-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .row-3 {
                border-top: 1px solid rgb(68, 87, 68);
                font-size: 33px;
                padding-left: 20px;
                padding-top: 23px;
                padding-bottom: 20px;
                text-decoration: none;
                color: rgb(68, 87, 68);
            }
        }
    }
    .col-2 {
        width: 80%;
        height: 500px;
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: 40px;
            .home-product-card {
                width: 350px;
                border: 1px solid rgb(68, 87, 68);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 15px;
                margin-top: 20px;
                img{
                    max-width:90%;
                    height:auto;
                }
                .home-product-card-text {
                    font-size:20px;
                    padding: 10px;
                }
            }
        }
        .row-button {
            border: 2px solid red;
            .home-button-addToCart {
            
            }     
        }
       
    }
}












