<div class="home">
    <div class="col-1"> 
        <a 
            class="row-1" 
            routerLink="/"
            [class.active] ="!category"
            >All categories</a>
        <div class="row-2">
            <a 
                *ngFor="let c of categories" 
                class="row-3"
                routerLink="/"
                [queryParams]="{category: c.category}"
                >{{c.category}} </a>
        </div>
    </div>
    <div class="col-2"> 
        <div class="row">
            <div *ngFor="let p of filteredProducts" class="home-product-card">
                <img [src]="p.data.imageUrl">
                <div class="home-product-card-text">{{p.data.title}}</div>
                <div class="home-product-card-text">$ {{p.data.price}}</div>
            </div>
        </div>
    </div>
</div>
    